#carousel {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  .photos {
    position: relative;
    height: 450px;
    img {
      display: block;
      width: 100%;
      position: absolute;
      left: 0px;
      opacity: 0;
      transition: all ease 1s;
      &.show {
        opacity: 1;
      }
    }
  }
  .bullets {
    display: flex;
    justify-content: center;
    .bullet {
      width: 40px;
      height: 15px;
      margin: 5px;
      border-radius: 5px;
      background-color: #333;
      &:hover {
        background-color: #f00;
      }
    }
  }
}
